@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .card__image-label {
    text-stroke: 1px var(--stroke-color);
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

/* Базовая страница */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' 400;

  background-image:
    repeating-linear-gradient(
      to bottom,
      var(--bg-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--bg-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--linear-gradient-first) 0%,
      var(--linear-gradient-second) 100%
    );
  background-size: cover;
  background-attachment: fixed;
}

/* Шапка */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding-block: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 12px;

  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;

  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.content {
  max-inline-size: 696px;
  margin: 100px auto 0;
}

.theme-menu__item {
  margin-block-end: 9px;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__description {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 4px;
}

/* Карточки */

.card {
  margin-block-end: 50px;
  background-color: var(--bg-color);
  color: var(--accent-color);
}

.card__title {
  padding: 5px 22px 5px 8px;

  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: var(--header-weight);
  font-style: normal;
  line-height: normal;
  font-variation-settings: 'wght' var(--header-weight);

  border: 2px solid var(--border-color);
}

.card__image {
  position: relative;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--border-color);
  border-block-start: none;
}

.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

/* Фильтры изображений */

.image-grayscale {
  filter: grayscale(75%);
}

.image-saturate {
  filter: saturate(400%);
}

.image-huerotate {
  filter: hue-rotate(30deg);
}

.image-invert {
  filter: invert(90%);
}

.image-sepia {
  filter: sepia(90%);
}

.image-blur {
  filter: blur(10px);
}

.image-huerotate-opacity {
  filter: hue-rotate(100deg) opacity(70%);
}

/* Лейбл на изображении */

.card__image-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;

  opacity: 0.5;
  color: var(--accent-color);
  mix-blend-mode: hard-light;

  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;

  -webkit-text-stroke: 1px var(--stroke-color);
  text-shadow:
    0 var(--stroke-color),
    0 1px var(--stroke-color),
    0 -1px var(--stroke-color),
    1px 0 var(--stroke-color);
}

/* Контент карточки */

.card__content {
  padding: 25px;
  border: 2px solid var(--border-color);
}

.card__content-text {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--text-weight);
  font-variation-settings: 'wght' var(--text-weight);
  color: var(--accent-color);
}

.card__content-text:nth-child(1) {
  margin-block-end: 27px;
}

.card__content-text:nth-child(2) {
  margin-block-end: 25px;
}

/* Блок кнопок в карточке */

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

/* Кнопка-иконка лайка */

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  border: 2px solid transparent;
  background-color: var(--bg-color);
  cursor: pointer;

  transition: border-color 0.3s ease;
}

.card__icon-button:focus,
.card__icon-button:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

/* Кнопка лайка */

.card__like-button {
  position: relative;

  inline-size: 130px;
  block-size: 38px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 9px 17px;

  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;

  display: block;
  inline-size: 0;
  block-size: 100%;

  background-color: var(--accent-color);
  transition: inline-size 0.3s ease;
}

.card__like-button:hover {
  cursor: pointer;
}

.card__like-button:hover::before {
  inline-size: 100%;
}

.card__like-button:focus,
.card__like-button:focus-visible,
.button-remember:focus,
.button-remember:focus-visible {
  outline: none;
}

/* Текст на кнопках */

.button__text,
.button__text-rembemer {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 12.6px;

  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}

/* Иконка дискеты */

.floppy {
  inline-size: 28px;
  block-size: 28px;

  fill: var(--mix-blend-color);
  stroke: var(--mix-blend-color);
  mix-blend-mode: difference;
}

/* Кнопка “remember” */

.button-remember {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 15px 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;

  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

.button-remember::before {
  content: '';
  position: absolute;
  inset: 0;

  display: block;
  inline-size: 0;
  block-size: 100%;

  background-color: var(--accent-color);
  transition: inline-size 0.3s ease;
}

.button-remember:hover::before {
  inline-size: 100%;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-block-end: 100px;
  padding-inline: 30px;
}



.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  max-inline-size: 357px;
  padding: 30px;

  border: 2px solid var(--border-color);
  background-color: var(--bg-color);

  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  font-style: normal;
}

.dialog:not([open]) {
  display: none;
}

.dialog__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  inline-size: 100%;
}

.floppy-dialog {
  inline-size: 39px;
  block-size: 39px;
  fill: var(--border-color);
  stroke: var(--border-color);
}

.dialog__flex-text {
  max-inline-size: 234px;
  white-space: normal;

  font-family: var(--accent-font), sans-serif;
  line-height: 1.5;
}

.button-save {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  inline-size: 100%;
  padding: 15px 20px;

  text-transform: uppercase;

  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  cursor: pointer;
}

.button-save::before {
  content: '';
  position: absolute;
  inset: 0;

  display: block;
  inline-size: 0;
  block-size: 100%;

  background-color: var(--accent-color);
  transition: inline-size 0.3s ease-in-out;
}

.button-save:hover::before {
  inline-size: 100%;
}

.button-save-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;

  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}



.theme-menu__button:focus,
.theme-menu__button:focus-visible,
.button-save:focus,
.button-save:focus-visible {
  outline: none;
}

.button-save:focus-visible,
.button-remember:focus-visible,
.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--border-color);
  transition: box-shadow 0.3s ease;
}



.theme-menu__button {
  padding-inline-start: 27px;

  border: none;
  background-color: transparent;
  cursor: pointer;

  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  text-transform: uppercase;
}



@media (width <= 375px) {
  .card__image-label {
    inset-block-start: 25px;
    inset-inline-end: 11px;
  }
}

@media (width >= 500px) {
  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }
}

@media (width > 375px) {
  .button-remember {
    flex-direction: row;
  }
}
