:root {
  /* базовые шрифты */
  --main-font: Inter;
  --accent-font: PressStart2P-Regular;

  /* цвета фона и текста */
  --bg-color: #ffffff;
  --color: #000000;

  /* вспомогательные цвета */
  --stroke-color: #ffffff;
  --heart-color: red;
}
